---
layout: page
title: Drive it, Know how it feels
nickname: 爱车
permalink: /car/
---

{% for category in site.categories %}
    {% if category.first == 'car' %}
        <ul class="car-container">
            {% for post in category.last %}
            <li class="car-item-container">
                <img src="{{ post.picurl }}" class="car-bit"/>
                <div><a style="height: 20px;" href="{{ post.url }}">{{ post.summary }}</a></div>
                <a href="#">{{ post.title }}</a>
            </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endfor %}
