<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/"><img src="/images/jv.png" alt="logo" class="inline-logo"/></a>
    <span class="site-tone">Talk is cheap, show me the code.</span>
    <nav class="site-nav">
      {% include icon-menu.html %}
      <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.nickname %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.nickname }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>
  </div>

</header>
