/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;

    height: 400px;
    background-image: url(/images/background.jpg);
    background-size: cover;
    background-position: bottom center;
    overflow: hidden;
    @include media-query($on-palm) {
        height: 300px;
    }
    .inline-logo {
        width: 50px;
        height: 50px;
    }

    .site-tone {
        display: inline-block;
        margin-left: 10px;
        height: 56px;
        line-height: 56px;
        font-size: 14px;
        text-shadow: #333 0 0 50px;
        color: white;
        box-reflex: blow 10px;
    }

    .center {
        width: 100%;
        text-align: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: #eeeeee;
        font-size: 28px;
    }
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    text-decoration: none;

    .logo-font {
        height: 40px;
        display: inline-block;
        box-sizing: border-box;
        color: #fff;
        font-size: 24px;
        font-family: "Inconsolata", "Menlo", "Consolas", monospace;
        border-bottom: 1px solid white;
        &>i:first-child {
            color: #ffbb42;
        }
        &>i:nth-child(2) {
            color: #870038;
        }
        .anchor {
            font-family: "American Typewriter";
            font-size: 14px;
            vertical-align: bottom;
            color: #ffffff;
        }

    }
    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $header-text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 16px;
        right: $spacing-unit / 2;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 24px;
            height: 24px;
            line-height: 24px;
            text-align: center;
            background: url(/images/icon-menu.png) no-repeat;
            background-size: cover;
            vertical-align: middle;

            > svg {
                width: 18px;
                height: 18px;
                vertical-align: middle;
                color: #fff;
                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        .trigger.open {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
        }
    }
}

.home {
    .icon {
        font-size: 14px;
        display: inline-block;
        border-radius: 4px;
        background: #ffdddd;
        padding: 2px 5px;
    }
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: 10px 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;

    .tag {
      padding: 3px 5px; 
      border: 1px solid #bbb;
      border-radius: 5px;
      background-color: #EEEEFF;
    }

}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    .icon--tags {
      padding: 3px;
      color: #6a9fb5;
    }
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-excerpt {
    background: #eee;
    padding: 5px;
    border-radius: 2px;
    font:italic 400 14px arial,sans-serif;
    color: #333;
}
.post-content {
    margin-bottom: $spacing-unit;
    h1 {
        font-size: 28px;
        @include media-query($on-laptop) {
            font-size: 32px;
        }
        &::before {
            content: "";
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-right: 10px;
            background: url(/images/anchor.png);
            background-size: cover;
        }
    }

    h2 {
        font-size: 24px;
        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 16px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    .big-image {
        display: inline-block;
        margin: 0 auto;
        width: 700px;
        height: 400px;
    }
}

.car-container {
    list-style-type: none;

    .car-item-container {
        float: left;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 220px;
        height: 250px;
        padding: 10px;
        text-align: center;
        border: 1px solid #eee;
        border-radius: 5px;
        img {
            width: 200px;
            height: 200px;
        }
    }
}

